@media screen and (min-width: 900px) {
    .FooterContainer{
        margin: 0;
        padding: 0;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #1f2b36;
        color: white;
        margin-top: 0%;
    }
    
    .footerSpan{
        color: #FF7F50;
    }
    
    .FooterContainer a{
        text-decoration: none;
        color: inherit;
    }
    
    .FooterContainer a:hover {
        color: #FF7F50;
    }
    
    .contactFooter svg{
        font-size: 1.3em;
        margin-right: 15px;
        cursor: pointer;
        
    }
    
    .contactFooter svg:hover{
        color: #FF7F50;
    }
    
    .goUp{
        margin-left: 40px;
        cursor: pointer;
    }
}

@media screen and (max-width: 900px){

.FooterContainer{
    margin: 0;
    padding: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: space-around;
    background-color: #1f2b36;
    color: white;
    margin-top: 55vh;
}

.MadeZero {
    display: none;
}

.FooterContainer h4{
    font-size: 0.8em;
}

.footerSpan{
    color: #FF7F50;
}

.FooterContainer a{
    text-decoration: none;
    color: inherit;
}

.FooterContainer a:hover {
    color: #FF7F50;
}



.contactFooter svg{
    font-size: 1.3em;
    cursor: pointer;
    margin: 0;
    
}

.contactFooter svg:hover{
    color: #FF7F50;
}

.goUp{
    cursor: pointer;
}

}